In [14]:
import pandas

In [25]:
df = pandas.read_csv('random.txt', sep=' |,', engine='python', header =None)

In [72]:
df1=df.drop(df.columns[0:2],1)

In [58]:
df2 = df1.apply(pandas.value_counts).fillna(0);

In [67]:
df2["8"]=df2[2]+df2[3]+df2[4]+df2[5]+df2[6]+df2[7]

In [157]:
df3=df2.drop(df.columns[2:8],1)
nplus = df3.sort_values(['8'], ascending=[False])[:1].index;
nminus = df3.sort_values(['8'], ascending=[False])[-1:].index;
#poniżej output do zadania 1: najwyższa i najniższa liczba.

In [153]:
print("najczęstsza liczba: "); nplus

najczęstsza liczba:

Int64Index([34], dtype='int64')

In [158]:
print("narzadsza liczba: "); nminus

narzadsza liczba:

Int64Index([48], dtype='int64')

In [159]:
df4=df1.T

In [117]:
df5=df4.mean().round(0).value_counts()
df5

24.0    531
26.0    495
22.0    454
28.0    438
25.0    376
30.0    358
20.0    356
27.0    341
23.0    314
21.0    289
29.0    279
18.0    250
32.0    235
19.0    232
31.0    199
16.0    149
17.0    144
33.0    124
34.0    112
36.0     72
35.0     71
14.0     67
15.0     66
13.0     35
38.0     34
37.0     32
12.0     21
11.0     13
40.0     10
10.0      9
41.0      7
39.0      5
7.0       4
8.0       3
9.0       3
42.0      3
44.0      2
6.0       1
dtype: int64